
.hero-section {
    background-image: url("../images/blue.jpg"); 
    background-size: cover;        
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;                
    position: relative;
    overflow: hidden;       
    background-position: center;      
}


.overlay-text {
    text-align: center;
    color: #0F0066;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.full-width-img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100vw;
}

.intro {
    padding: 20px;
    background-color: #021168;
    color: #9ae7ed;
}

h3 {
    padding: 20px;

}


.principal-message {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #2f35ed;

}


.principal-card {
    display: block;
    text-decoration: none;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    width: 350px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    color: #03092c;
}

.principal-card:hover {
    transform: translateY(-10px);
}

.principal-card img {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.principal-card p {
    font-size: 1rem;
    color: #192d98;
}

.principal-card:hover p {
    color: #1A237E;
}


.principal-card:link, 
.principal-card:visited {
    text-decoration: none;
    color: inherit;
}

.principal-card:hover {
    color: #1A237E;
}

h3.message-heading {
    font-size: 1.5rem;
    color: #1A237E;
    margin-bottom: 0.5rem;
}
